IOException if content-length is not present

As described in Issue https://github.com/siacs/Conversations/issues/1336 an IOException occurs if the content-length field is not present in HTTP-Response.

According to the RFC this field is not MUST:
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13
>Applications SHOULD use this field to indicate the transfer-length of the message-body, unless this is prohibited by the rules in section 4.4.

as long as the application doesn't crash in the process this is the desired behavior

An IOException because of wrong implemented standard is the desired behavior?
As written in the RFC2616 (section 4.4) there are a few circumstances where this field is not present. So the implementation have to take care of this.
Hopefully the XMPP standards are implemented not the way you like, but the way they should.